@{
    ViewBag.Title = "Giới thiệu";
}
<div style="margin-top:10px;" class="container bg-light">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <div class="row" style="text-align:center;color:red;">
        <h2>
            D5-STORE
        </h2>
    </div>
    <div class="row" style="text-align:center;color:black;">
        <p>
            <b>
                D5-STORE chào quý khách đã đến thăm và mua hàng tại cửa hàng chúng tôi
            </b>
        </p>
    </div>
    <div class="row" style="text-align:center;color:black;">
        <h3>
            Hãy kết nối với chúng tôi
        </h3>
    </div>
    <div class="row" style="text-align:center;color:blue;">
        <h3>
            <i class="fab fa-facebook"></i><i class="fab fa-google"></i><i class="fab fa-youtube"></i><i class="fab fa-twitter"></i><i class="fas fa-phone-square-alt"></i>
        </h3>
    </div>
    <div class="row" style="text-align:center;color:black;margin-top:50px">
        <h3>
            VỊ TRÍ CỬA HÀNG TRÊN BẢN ĐỒ
        </h3>
    </div>
    <div class="row" style="text-align:center;color:blue;">
        <h3>
            <img src="~/Image/vitri.png" style="height: 500px; width: 1000px;">
        </h3>
    </div>
</div>