@{
    ViewBag.Title = "Liên hệ";
}
<div style="margin-top:10px;" class="container bg-light">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i>Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <h3 style="color:black;">THÔNG TIN LIÊN HỆ</h3>
            <p>Địa chỉ: 510 Hoàng Văn Thụ, phường Nguyễn Văn Cừ, TP Quy Nhơn</p>
            <p>Điện thoại: 0346 191 229</p>
            <p>HotLine: 0778505926</p>
            <p>Gmail: canhdexd03@gmail.com</p>
        </div>
        <div class="col">
            <h3 style="color:black;">HỖ TRỢ TRỰC TUYẾN</h3>
        </div>
    </div>
    
</div>   