@model QuanLyCuaHang.Models.DONHANG

@{
    ViewBag.Title = "Hoàn thành đơn";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="alert alert-success" >
    Bạn vừa hoàn thành đặt hàng.
</div>

